.CardContainer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;

}
.upper{
    display: flex;
    gap: 20px;
}
.lower{
    display: flex;
    gap: 20px;
}