.HeaderContainer{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
    display: flex;
    min-width: 1360px;
    width:100%;
    justify-content: space-around;
    height: 70px;
    align-items: center;
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
    margin-left: auto;
    margin-right: auto;

}
.logoNav{
    display: flex;
    align-items: center;
    min-width: 800px;
    
    
}


.buttonnav {
    display: flex;
    align-items: center;
    gap: 15px; 
    max-width: 500px;
}


.join {
    background-color: #40196d;
    border: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 135px;
    height: 40px;
}

.sigin{
    background-color: #ffff;
    border: none;
    color: #40196d;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.buttonnav img {
    width: 50px; 
    
}

.logoNav img {
    width: 100px; 
    margin-right: 20px; 
}

.navigation {
    display: flex;
    gap: 40px; 
    margin-left: 50px;
    justify-content: center;
    align-items: center;
}

.navigation nav {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #40196d;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    gap:5px;
}
